@model ShoppingCartViewModel


<div class="container">
    <form method="post" action="AddToCart" id="productForm">
        <div class="row mt-5">
            <div class="col">
                <div class="col-4"></div>
                <div class="col-8">
                    <!-- Display the product image -->
                    <img src="@(Model.Product.ImageUrl)" class="w-100" />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="h5">@Model.Product.Name</p>
                        <hr>
                        <p>@Model.Product.Description</p>
                        <p>@Model.Product.Price.ToString("c")</p>
                    </div>
                </div>

                <input type="hidden" name="Product.Id" value="@Model.Product.Id" />
                <input type="hidden" name="Product.Name" value="@Model.Product.Name" />
                <input type="hidden" name="Product.Price" value="@Model.Product.Price" />

                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <label for="count">Quantity:</label>
                        <input type="number" name="Count" value="@Model.Count" class="form-control" min="1" />
                    </div>
                </div>


                @foreach (var variationType in Model.Product.GroupedVariations.Keys)
                {
                    <label>@variationType</label>
                        <select name="@variationType" class="form-select">
                        <option value="">Select @variationType</option>
                        @foreach (var variationValue in Model.Product.GroupedVariations[variationType])
                        {
                            <option value="@variationValue">@variationValue</option>
                        }
                    </select>
                }

                <div id="selectedSkuDetails">
                    <p>SKU: <span id="selectedSkuString">None</span></p>
                    <p>Stock: <span id="selectedStock">N/A</span></p>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@* <script>
    $(document).ready(function () {
        var skus = @Html.Raw(Json.Serialize(Model.Product.Skus));

        console.log(skus);


    });
</script> *@
