@model ShoppingCartViewModel


<div class="container">
    <form method="post" action="AddToCart">
        <div class="row mt-5">
            <div class="col">
                <div class="col-4"></div>
                <div class="col-8">
                    <!-- Display the product image -->
                    <img src="@(Model.Product.ImageUrl)" class="w-100" />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <!-- Display the product details -->
                        <p class="h5">@Model.Product.Name</p>
                        <hr>
                        <p>@Model.Product.Description</p>
                        <p>@Model.Product.Price.ToString("c")</p>
                    </div>
                </div>

                <!-- Hidden inputs for Product data -->
                <input type="hidden" name="Product.Id" value="@Model.Product.Id" />
                <input type="hidden" name="Product.Name" value="@Model.Product.Name" />
                <input type="hidden" name="Product.Price" value="@Model.Product.Price" />

                <!-- Editable Count field -->
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <label for="count">Quantity:</label>
                        <input type="number" name="Count" value="@Model.Count" class="form-control" min="1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>