@using Newtonsoft.Json;
@model ProductDetailsViewModel


<div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="col-4"></div>
                <div class="col-8">
                    <img src="@(Model.Product.ImageUrl)" class="w-100" />
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="h5">@Model.Product.Name</p>
                        <hr>
                        <p>@Model.Product.Description</p>
                        <p>@Model.Product.Price.ToString("c")</p>
                    </div>
                </div>

                <input type="hidden" name="Product.Id" value="@Model.Product.Id" />
                <input type="hidden" name="Product.Name" value="@Model.Product.Name" />
                <input type="hidden" name="Product.Price" value="@Model.Product.Price" />

                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <label for="count">Quantity:</label>
                        @* <input type="number" name="Count" value="@Model.Count" class="form-control" min="1" /> *@
                    </div>
                </div>


                @foreach (var variationType in Model.GroupedVariations.Keys)
                {
                    <label>@variationType</label>
                        <select name="@variationType" class="form-select variationOption">
                            <option value="">Select @variationType</option>
                            @foreach (var variationValue in Model.GroupedVariations[variationType])
                            {
                                <option value="@variationValue">@variationValue</option>
                            }
                        </select>
                }

                <div id="selectedSkuDetails">
                    <p>SKU: <span id="selectedSkuString">None</span></p>
                    <p>Stock: <span id="selectedStock">N/A</span></p>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <button id="addToCartButton" type="button" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts
{
    <script>
        let selectedSkuString = null;

        document.querySelectorAll('.variationOption').forEach(input => {
            input.addEventListener('change', function () {
                let allValues = [];

                document.querySelectorAll('.variationOption').forEach(input => {
                    allValues.push(input.value);
                });

                let selectedOptions = allValues.join(",")

                let skusWithVariations = @Html.Raw(JsonConvert.SerializeObject(Model.SkusWithVariations))
                    console.log('Serialized Model:', skusWithVariations);

                for (let product of skusWithVariations) {
                    console.log(product.VariationOptionsString)
                    console.log(selectedOptions)

                    if (product.VariationOptionsString == selectedOptions) {
                        console.log(">>> reached 1")
                        selectedSkuString = product.Sku.SkuString;
                        console.log("Sku: " + product.Sku.SkuString)
                        break;
                    } else {
                        console.log(">>> reached 2")
                        selectedSkuString = null;
                    }
                }
            });
        });


        document.querySelector('#addToCartButton').addEventListener('click', function () {
            if (selectedSkuString) {
                console.log("This is where you make the request and pass in :" + selectedSkuString)
                $.ajax({
                    url: '/ShoppingCart/AddToCart?SkuString=' + selectedSkuString + '&count=1',
                    method: 'POST',
                    contentType: 'application/json',
                    // data: {
                    //     skuString: selectedSkuString,
                    //     count: 1
                    // },
                    success: function (response) {
                        console.log("Successfully added to cart:", response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error adding to cart:", error);
                    }
                });
            } else {
                console.log("Please select all variations before adding to cart.");
            }
        });

    </script>
}
