
@model IEnumerable<ProductViewModel>


<div class="container">
    <div class="row">
        <div class="col">
            <h3>Products</h3>
        </div>
        <div class="col">
            <a asp-action="Create" class="btn btn-primary float-end">Add New Product <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString("c")</td>
            <td>@product.Created</td>
            <td>@product.Updated</td>
            <td>
                <a asp-action="Edit" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-secondary">
                    Edit
                </a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                    <i class="bi bi-trash-fill"></i> Delete
                </a>
            </td>
        </tr>
    }

  </tbody>
</table>

    
</div>



@* this is how we are going to display the image base 64 *@
@* <img src="data:@Model.ContentType;base64,@Model.ImageBase64" alt="@Model.ImageName" class="img-fluid" /> *@