@model ViewCategoryViewModel


<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.Category.Name</h1>
        </div>
    </div>

    <div class="row mt-2">
        @if (Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="col-3">
                    <a href="/Product/Details?productId=@product.Id" class="text-decoration-none text-dark">
                        <div class="card border-0">
                            <img class="card-img product-image" src="@product.ImageUrl" alt="@product.Name">
                            <div class="card-body p-1">
                                <p class="fw-bold mb-0">@product.Name</p>
                                <p class="mb-0">@product.Price.ToString("c")</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>