@model CreateProductTypeViewModel

<div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-primary text-white bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col">
                    <h3>Create New Product Type</h3>
                </div>
            </div>
        </div>
        <div class="card-body bg-white p-4">
            <div class="row">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="ProductType.Name" class="control-label"></label>
                        <input asp-for="ProductType.Name" class="form-control" />
                        <span asp-validation-for="ProductType.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductType.Description" class="control-label"></label>
                        <input asp-for="ProductType.Description" class="form-control" />
                        <span asp-validation-for="ProductType.Description" class="text-danger"></span>
                    </div>

                    @* Use for loop as the default model binder does not work with foreach loop with MVC *@
                    <div class="form-group mt-2">
                        <p class="">Please select the variations this product type will have</p>
                        @for (int i = 0; i < Model.VariationTypes.Count(); i++)
                        {
                            <div class="">
                                <input type="hidden" asp-for="@Model.VariationTypes[i].Id" />
                                <input type="hidden" asp-for="@Model.VariationTypes[i].Name" />

                                <input type="checkbox" asp-for="@Model.VariationTypes[i].IsSelected" />
                                <label asp-for="@Model.VariationTypes[i].IsSelected">@Model.VariationTypes[i].Name</label>
                            </div>
                        }
                    </div>
                    

                    <div class="form-group mt-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
